.Cell {
  border: none;
  background: none;
  min-width: 50px;
  min-height: 50px;
}

.Cell:hover {
  cursor: pointer;
}

.Cell:focus {
  outline: 0;
}

/* Get rid of Firefox dotted outline on button. */
.Cell::-moz-focus-inner {
  border: 0;
}
